@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    font-family: Bubblegum sans, sans-serif;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

h3 {
    margin-top: 0px;
}

.word-board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 370px;
}

.guess-sqr {
    font-size: 40px;
    border: 1px solid black;
    width: 19%;
    aspect-ratio: 1/1;
    background-color: lightslategray;
    text-align: center;

}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    height: 140px;
}

.key-sqr {

    font-size: 30px;
    border: 1px solid black;
    width: 35px;
    background-color: lightslategray;

}

.guess-items {
    margin: 20px;
}

.key-line {
    display: flex;
    justify-content: center;
    width: 100%;

}

#key-line-1 {
    justify-content: space-between;

}

#key-line-2 {
    width: 360px;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}

#key-line-3 {
    width: 330px;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.guess-word {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}

#restart {
    margin-top: 20px;

}

.not-in-word {
    background-color: rgb(220, 41, 41);
}

.in-word {
    background-color: rgb(22, 180, 8);
}

.in-wrong-spot {
    background-color: rgb(206, 203, 11);
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
    width: 120px;
    flex-wrap: wrap;

}

.points-button {
   margin-bottom: 10px;
}

.hidden {
    display: none;
}

.points-display {
    cursor: pointer;
}
.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
    width: 320px;
    flex-wrap: wrap;
    
}